html {
    overflow-y: hidden;
}
body {
    background-color:  #b3b3a7;
    
}

.columns {
    margin-top:60px;
    margin-bottom: 50px;
}
.column {
    height:520px;
}

.first-col {
    margin-left:50px;
    background-color:black;
    color: whitesmoke;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}

.media-link {
    color: red;
}

.media-link:hover {
    color: fuchsia; 
}
.sec-col {
    margin-right: 50px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.back-info {
    margin-top: 100px;
}
.rounded {
        height: 125px;
        width: 100px;
        border-radius: 50%;
        margin:0 auto;
    }

    img {
        border-radius: 60%;
    }

    .about-info {
        color: azure;
        line-height: 1.8em;
        font-size: 16px;
        font-family: 'Ubuntu Mono', monospace;
    }


    .more-info {
        font-family: 'Poppins', sans-serif;
        margin-top: 20px;
        font-size: 12px;
        line-height: 2.2em;
    }

    .latest {
        font-family: 'Poppins', sans-serif;
        font-size: 26px;
        text-align: center;
        font-weight: bolder;
    }

    .project-info {
        font-family: 'Poppins', sans-serif;
        padding:20px 40px 10px 50px;
        font-size: 12px;
    }

    .project-head {
        font-size: 16px;
        font-weight: bolder;
        line-height: 2em;
    }

    .source-code {
        margin-top: 8px;
        font-weight: bold;
        font-size: 14px;
        color:purple;
    }

    @media only screen and (max-width: 768px) {
        html {
            overflow-y: visible;
        }
      body {
          background-color: white;
      }
      
      .columns {
          margin-top:0px;
      }
      .first-col{
         margin-left: 0px;
      }
      .sec-col {
          margin-right: 0px;
      }

      .rounded {
          width: 100px;
      }

      .about-info {
          font-size: 14px;
      }

      .more-info {
          font-size: 12px;
         padding: 0 30px;
      }
      }

      @media only screen and (min-width:768px) and (max-width: 1210px) {

          .sec-col {
              overflow-y:scroll;
          }

          .latest {
              font-size: 14px;
          }
  
        .project-info {
            padding:10px 40px 10px 50px;
            font-size: 12px;
        }
    
        .project-head {
            font-size: 14px;
        
        }
    
        .source-code {
            margin-top: 3px;
            font-size: 12px;
            
        }
    
      }